 table.centro{
    text-align: center;
  }

  table.menos{
    font-size: 11px;
  }
  th.centro{
    text-align: center;
  }
  td.centro{
    text-align: center;
  }
  tr.color{
    background-color: #F1D4AF;
  }
  @media print {
  tr.color{
    background-color: #F1D4AF;
  }
}